<div>
  <% @students.each do |student| %>
    <div>
      <%= student.name %>
    </div>
    <div>
      <%= student.age %>
    </div>
    <div>
      <%= student.student_id %>
    </div>
    <div>
      <%= student.class_name %>
    </div>
  <% end %>
</div>
