

<%= render 'header' %>
<div>
  <% if flash.present? %>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
  <% end %>
</div>
<div>
  <label>
  <% if @user.present? %>
    <%= @user.name %>
  <% end %>
  </label>
</div>
