<div>
  <%= form_with  do |form| %>
    <div>
    </div>
    <div>
      <%= form.label :new_password %>
      <%= form.text_field :new_password %>
    </div>
    <div>
      <%= form.submit 'Save Password' %>
    </div>
  <% end %>
</div>
