<div class="wrap-contact123">
  <div class="wrap-name">
    <input type="text" id="id_txtName" class="wrap-txtName"/>
  </div>
  <div class="wrap-pass">
    <input type="password" id="id_txtPass" class="wrap-txtPass"/>
  </div>
  <div>
    <button type="submit" id="id_btnSubmit" class="wrap-submit">Submit</button>
  </div>
</div>
