<div>
  <div>
    <input type="text">
  </div>
  <div>
    <textarea>"hello, world"</textarea>
  </div>
  <a href="http://localhost:3000/contact/zzz/787/989">Back</a>
</div>

<%= @test %>
<%= link_to "Click here to see review", "/reviewday2" %>


