@import "bootstrap";
@import "introduction";
@import "session";

/*
Choose 5 color
blue : #44d0cc
pink: #ff9a76 #ffeadb
grey: #637373
black: #000
*/

* {
  margin: 2px;
  box-sizing: border-box;
  font-size: 15px;
}

.bg-dark {
  background-color: #44d0cc !important;
}

#nav {
  padding: 1px;
  justify-content: left;
}

#nav .navbar-search input {
  border-radius: 20px;
  border: none;
  color: #637373;
  line-height: 1.5;
  padding-left: 15px;
}

.container-fluid .form,
.container-fluid .card {
  display: flex;
  justify-content: center;
  min-width: 500px;
}

.form form {
  width: 300px;
}

.btn-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 200px 100px;
  max-height: 100px;
}
.btn-group .btn-block,
.btn-block {
  padding-left: 12px;
  margin: 18px 20px;
}

.btn {
  background-color: #ff9a76;
  min-width: 200px;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
}
.btn-seperate {
  display: flex;
  justify-content: center;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.6);
}
.flash {
  font-size: 14px;
}

.flash-errors {
  color: #fa1e0e;
}
