// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrap-profile {
  text-align: center;
  border: 1px solid yellow;
  padding: 10px;
}
.wrap-contact123 {
  text-align: center;
}
.wrap-name {
  margin-bottom: 10px;
}
.wrap-txtName {
  border-radius: 10px;
}
.wrap-pass {
  margin-bottom: 10px;
}
.wrap-txtPass {
  border-radius: 10px;
}
.wrap-submit {
  border-radius: 10px;
}
