// Place all the styles related to the Introduction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title img {
  border-radius: 150px;
}

.content img {
  border-radius: 300px;
}

.about_us {
  text-align: center;
}

.about_us .content {
  line-height: 32px;
}
